.success-icon {
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin: 0 auto;
    background: #EC83A8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}